<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cipolat.deliveryya.order">

    <application>
        <activity android:name=".PedidoActivity"
            android:screenOrientation="portrait">
            <intent-filter android:autoVerify="true" android:order="1">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="pedidosonline-357d1.firebaseapp.com"
                    android:pathPrefix="/deliveryya/order"
                    android:scheme="http" />
                <data
                    android:host="pedidosonline-357d1.firebaseapp.com"
                    android:pathPrefix="/deliveryya/order"
                    android:scheme="https" />
            </intent-filter>

            <meta-data
                android:name="default-url"
                android:value="https://pedidosonline-357d1.firebaseapp.com/deliveryya/order" />
        </activity>
    </application>
</manifest>
